@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.title {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 1.1vw 0.5vw 1vw 0.5vw;
}
.attending {
    background-color: #ffc15e;
    color: white;
    position: absolute;
    left: 0;
    top: 0.8vw;
    box-shadow: 0px 3px 8px #0000001a;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
    font-family: 'Mulish';
    padding: 0.25vw 0.25vw 0.25vw 0.5vw;
}
