.button {
    background-color: #62a3ff;
    padding: 0.9rem;
    margin: 0rem;
    box-shadow: 0.01rem 0.01rem 0.2rem 0.01rem #1675d1;
    color: white;
}
/* Button2: {
        backgroundColor: `${theme.palette.secondary.contrastText}`,
        variant: 'outlined',
        padding: '0.5rem',
        margin: '0rem',
        boxShadow: '0.1rem 0.01rem 0.1rem 0.01rem grey',
        color: `${theme.palette.primary.contrastText}`
    } */
