.profile {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    margin-right: 1rem;
    align-items: center;
}

.picture {
    height: 3.5rem;
    width: auto;
    border: medium solid white;
    border-radius: 50%;
}

.name {
    margin: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px rgb(83, 83, 83);
    letter-spacing: 0.7px;
}
