.profile {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    margin-right: 1rem;
    align-items: center;
}

.picture {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
}

.name {
    margin: 5px;
    font-size: 1rem;
}
