.logo {
    height: 6.5rem;
}

#navButton {
    background-color: yellow;
}

.profileLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 5rem;
    height: 2rem;
    position: relative;
}

.link {
    color: white;
    margin: 5rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(77, 77, 77);
}
.box {
    position: fixed;
    background-color: #fafafa;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 3rem;
    width: 100%;
}
