.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75 rem;
    text-align: justify;
}
.intro {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    padding-top: 7%;
}
.event {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: blue;
    padding: 30px;
    word-wrap: break-word;
    width: 90%;
    border: 1px solid #000000;
    border-width: 2px;
    margin: auto;
}
.eventDetails {
    margin: 1%;
}
.img {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 1%;
}
