/* .uploadImage {
    width: 100%;
    overflow: hidden;
    max-height: 12rem;
    max-width: auto;
    object-fit: contain;
} */
.image {
    object-fit: cover;
    width: 100%;
}
.input {
    /* object-fit: contain;
    height: 20rem;
    width: 10rem; */
    display: none;
}
.buttons {
    position: absolute;
    z-index: 10;
}
