.contrastBackground {
    position: relative;
    height: 40vh;
    background: #0a1045;
    opacity: 1;
    z-index: -50;
}
.form {
    margin: '2rem';
    display: flex;
    flex-direction: row;
}
.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    /* background-color: green; */
    padding-left: 4rem;
    margin-right: 1.5rem;
    justify-content: center;
}

.right {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 50%;
    /* background-color: blueviolet; */
    padding-right: 4rem;
    margin-left: 1.5rem;
}
.empty {
    /* background-color: purple; */
    width: 12vw;
    margin: 2vw;
    padding: 2vw;
}
