@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&family=Nanum+Pen+Script&family=Ovo&display=swap');
.background {
    background: #f2faf6 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100vh;
    /* padding-top: 50px; */
}
.contrastBackground {
    background: #0a1045 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    max-height: 66vh;
    height: 66vh;
}
.div {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: justify;
    width: 75%;
    position: absolute;
    top: 60vh;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #00000014;
    height: 42vh;
    background-color: white;
}
.intro {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}
.description {
    font-family: 'Mulish', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0em;
    color: #006;
    text-overflow: clip;
    margin: 0;
}
.date {
    font-family: 'Mulish';
    letter-spacing: 0em;
}
.event {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
    width: 50%;
    border-width: 0.2rem;
    justify-content: space-evenly;
    align-items: left;
    position: relative;
}
.imageContainer {
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* width: auto; */
    /* max-height: 30rem; */
    /* max-width: inherit; */
}
.countdown {
    font-size: 2rem;
    /* padding: 1rem; */
    width: 14rem;
}

.eventsList {
    margin-top: 20rem;
    background-color: #f2faf6;
}

.heading {
    font-size: 4vw;
    font-family: sans-serif;
    line-height: 1.2;
    padding: 3.5rem;
    color: white;
    position: relative;
}
.animation {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid;
    overflow: hidden;
    white-space: nowrap;
    color: #0a1045;
    position: relative;
    font-size: 2rem;
    margin: 3rem;
}

.animation ul {
    list-style: none;
    padding: 0 0.5ex;
    margin: 0;
    height: 1.2em;
}

.animation li {
    position: relative;
    animation: cycle-5-items 5s ease-in-out alternate infinite;
}

.animation ul.mask {
    color: white;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes cycle-5-items {
    0%,
    10% {
        transform: translateY(0%);
    }

    15%,
    35% {
        transform: translateY(-100%);
    }

    40%,
    60% {
        transform: translateY(-200%);
    }

    65%,
    85% {
        transform: translateY(-300%);
    }

    90%,
    100% {
        transform: translateY(-400%);
    }
}
