.contrastBackground {
    position: relative;
    height: 40vh;
    background: #0a1045;
    opacity: 1;
    z-index: -50;
}
.empty {
    background: #0a1045;
    height: 100vh;
}
.noEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 75rem;
    margin: 3rem auto 5rem auto;
    position: relative;
    top: -32vh;
    /* color: #ca535f */
}
.eventsList {
    position: relative;
    top: -20vh;
}
/* .image {
    width: '75 rem';
} */
